name: Platform IO CI
on: [push]
jobs:
  build:
    name: Build
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
          architecture: 'x64'
      - name: Show python version
        run: python --version
      - name: Install PlatformIO
        run: python -m pip install platformio
      - name: Build firmware
        run: platformio run
      - name: Archive
        uses: actions/upload-artifact@v2
        with:
          name: firmware
          path: .pio/build/*/firmware.bin
